@model IEnumerable<Demo2.Models.Book>

@{
    ViewBag.Title = "Index";
}

<style>
    img {
        width: 100px
    }
</style>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DataTable Example
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Tiêu đề</th>
                    <th>Tác giả</th>
                    <th>Giá</th>
                    <th>Trang bìa</th>
                    <th>Tên danh mục</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Author</td>
                        <td>@item.Price</td>
                        <td><img src="@item.Image"/></td>
                        <td>@item.Category.Title</td>
                        <td>
                            <a href="@Url.Action("Edit", "Books", new { id = item.Id})">Chỉnh sửa</a> |
                            <a href="@Url.Action("Delete", "Books", new { id = item.Id})">Xóa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
